.footer-container {
  background: color-mix(in srgb, var(--headers-bg) 97%, white);
  color: white;
  padding: 10px 0;
  font-size: 13px;
}

.footer-content {
  text-align: center;
  align-items: center;
}

.footer-title {
  font-weight: 600;
  font-size: 13px;
}

.footer-text {
  margin: 0;
  font-size: 12px;
}

.footer-social>* {
  margin: 5px;
}

.social-icon {
  color: white;
  display: inline-block;
  transition: transform 0.2s ease;
}


.social-icon:hover {
  transform: scale(1.5);
}

.footer-copy {
  text-align: center;
  font-size: 12px;
}

@media (max-width: 768px) {

  .footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
  }

  .footer-item>*:not(:last-child) {
    margin-right: 6px;
  }

  hr {
    margin: 6px 0;
  }
}