.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #f4f4f5;
}

.login-container .card {
    width: 400px;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.login-container .home-icon {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.login-container .icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #eef2ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .card-header {
    padding-block: 0px;
    border: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #111827;
    background-color: transparent;
}

.login-container p {
    font-size: .9rem;
    color: #6f7072;
}

/* ===== INPUT ===== */
.login-container .form-control {
    flex: 1;
    border-radius: 0.6rem;
    border: 1px solid #d1d5db;
    padding: 0 0.8rem;
    font-size: 0.95rem;
}