.top-navbar {
    width: 100%;
    height: 60px;
    background:  #f9fbfe !important;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-hello {
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar-logout {
    display: flex !important;
    align-items: center !important;
    border: none !important;
    color: black !important;
}

.navbar-logout:hover {
    background: #fff !important;
    color: #1E3A5F !important;
}