/* Layout geral */
.layout-container {
    display: flex;
    min-height: 100dvh;
}

/* Sidebar */
.sidebar {
    background: var(--headers-bg);
    color: white !important;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease;
    position: sticky;
    top: 0;
    left: 0;
    flex-shrink: 0;
    border: none !important;
}

.sidebar.open {
    width: 200px;
}

.sidebar.closed {
    width: 70px;
}

/* Header */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.toggle-btn {
    border: none !important;
    background-color: #515f91 !important;
    color: white !important;
    padding: 6px 9px !important;
    margin: 0px !important
}

/* Menu margin */
.sidebar-menu-margin {
    margin-top: 5px !important;
    margin-left: 10px;
}

/* Links */
.sidebar-menu-margin .nav-link {
    color: lab(100% 0.01 -0.01 / 0.8);
    padding: 8px 12px;
    border-radius: 8px;
    margin: 2px 0px;
    transition: all 0.2s;
}

.sidebar-menu-margin .nav-link:hover,
.sidebar-menu-margin .nav-link.active {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    border-radius: 6px;
    margin-right: 1rem;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.5s ease;
    width: 100%;
}


.page-content {
    flex: 1;
    padding: 1.5rem;
}

@media (max-width: 768px) {
    .sidebar.open {
        width: 160px;
    }
}